<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Hello {{ title }}!
</h1>

<form #formulario="ngForm">
  <p>
    <label for="">Nombre</label>
    <input type="text" #nombre="ngModel" name="nombre" pattern="[a-zA-Z *]+" [(ngModel)]="persona.nombre" required>
    <span *ngIf="nombre.invalid && nombre.touched" style="color:red"> Este campo es obligatorio </span>
  </p>

  <p>
    <label for="">Apellido</label>
    <input type="text" #apellido="ngModel" name="apellido" pattern="[a-z* ]+" [(ngModel)]="persona.apellido" required>
    <span *ngIf="apellido.invalid && apellido.touched" style="color:red"> Este campo es obligatorio </span>
  </p>

  <p>
    <label for="">Edad</label>
    <input type="text" #edad="ngModel" name="edad" pattern="[0-9]" [(ngModel)]="persona.edad" required>
    <span *ngIf="edad.invalid && edad.touched" style="color:red"> Solo alfanumericos </span>
  </p>

  <p>
    <label for="">Profesión</label>
    <input type="text" #profesion="ngModel" name="profesion" pattern="[a-z* ]+" [(ngModel)]="persona.profesion"
      required>
    <span *ngIf="profesion.invalid && profesion.touched" style="color:red"> Este campo es obligatorio </span>
  </p>

  <p>
    <label for="">Activo</label>

    <select #activo="ngModel" name="activo" [(ngModel)]="persona.activo" required>
      <option *ngFor="let item of listEstado" [ngValue]="item.id">{{ item.value }}</option>
    </select>
    <span *ngIf="activo.invalid && activo.touched" style="color:red"> Este campo es obligatorio </span>
  </p>
  <p>
    <input type="button" value="Llamar servicio GET" (click)="llamarServicio()">
    <input type="button" value="Llamar servicio POST" (click)="llamarServicioPOST()">
  </p>
  <button (click)="enviarFormulario()" [disabled]="formulario.invalid" type="submit">Submit</button>
  {{persona | json}}
  {{listPersona | json}}
</form>


<!-- <router-outlet></router-outlet> -->